.stats-container {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.stats-container h1 {
  margin-bottom: 2rem;
}

.selects {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
