.login {
    /* background-color: #fff; */
    background-image: url('../../assets/abstract-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px;
    margin: 0;
  }
  
  .login-row {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 20px;
    /* height: 430px; */
    width: 88%;
  }

  .login-image-container{
    display: flex;
    align-items: center;
  }
  
  .login-img {
    margin-left: 1.5rem;
    object-fit: contain;
    height: 275px;
    width: 100%;
  }
  .login-form {
    /* border-right: 1px solid #ddd; */
    padding: 80px;
  }