.navbar {
  background-color: #0a0a0a;
  border-bottom: 2px solid #131313;
}

.navbar-brand {
  color: #ffffff;
  font-family: "Heebo", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-toggler {
  border-color: #353535;
}

.main-nav .nav-link {
  color: #b3b3b3;
  font-family: "Heebo", sans-serif;
  font-weight: medium;
}

.main-nav .nav-link:hover {
  color: #ffffff;
}

.nav-item .btn-outline-success {
  color: #19d3da;
  border-color: #19d3da;
  transition: all 0.3s ease-in-out;
}

.nav-item .btn-outline-success:hover {
  color: #0a0a0a;
  background-color: #19d3da;
}

.navbar-nav {
  width: 12rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    background-color: #0a0a0a;
  }
}
