.custom-next-arrow,
.custom-prev-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 100;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-next-arrow {
  right: 10px;
}

.custom-prev-arrow {
  left: 10px;
}

.card-container {
  width: 100%;
  display: flex !important;
  justify-content: center;
}

.h2-homepage {
  margin-top: 1.5rem;
}
