.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-home {
  width: 75%;
  margin: 5rem 0;
}

.admin-home h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.admin-movies-list {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.admin-movie-form {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.theater-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.shows-heading {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.shows-subheading {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.shows-subheading h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.shows-button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ticket-price-buttons {
  margin-bottom: 16px;
}

.ticket-price-buttons label {
  display: block;
  margin-bottom: 8px;
}

.price-button {
  padding: 5px 10px;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 8px;
  border-radius: 4px;
}

.original-price {
  background-color: #4caf50;
}

.discounted-price {
  background-color: #ff9800;
}

/* Add additional styles here as needed */
